<!-- Generated template for the SendEmailComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>
      Emails + Images
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <button ion-button full (click)="sendEmail()">Send Email</button>
 
  <ion-card>
    <ion-card-header>Current image</ion-card-header>
    <ion-card-content>
      <img [src]="currentImage" *ngIf="currentImage" />
    </ion-card-content>
  </ion-card>
  <ion-item>
    <button ion-button full (click)="uploadFile()">Upload</button>
  </ion-item>
</ion-content>
